# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


# Virtual Environment
.venv/
env/
venv/
.devcontainer/


# OS / Editor
.DS_Store
Thumbs.db


# VSCode
.vscode/


# Logs / Runtime
logs/
*.log
*.csv


# Data
# data/
# !data/README.md

# (optional) keep small sample only
# !data/korean/korean_base_app_15.json
# !data/korean/korean_finetuned_app_15.json


# Model / Outputs
# *.jsonl
# *_outputs_*.json
# *_app_*.json


# Secrets
.env
*.env